@font-face {
    font-family: "Skia";
    src: url("../fonts/skia.ttf") format('truetype');
}

@font-face {
    font-family: "Skia Regular";
    src: url("../fonts/Skia\ Regular.ttf") format('truetype');
}

* {
    font-family: "Skia";
}

body {
    background-color: white;
    background-image: url("/images/background_with_notes.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 3rem;
}


main {
    margin: 3rem 0rem 4rem 0rem;
    width: 45%;
    float: left;
    list-style-type: none;

}

main h1 {
    color: #bc1723;
    font-size: 24px;
}

header img{
    padding:2rem;
    width: 35%;
}

header{
    width:64%;
    background-color: black;
    float:left;
    margin-left: -3rem;
    margin-top: -1rem;
}

#mainImage {
    display: block;
    width: 50%;
    margin: auto;
}

p{
    font-family: Skia Regular;
}

a{
    text-decoration: none;
    color:#bc1723;
    font-family: Skia Regular;
}

#instruction-section {
    display: flex;
    justify-content: space-between;
}

#instruction-button, #playButton {
    font-family: "Skia";
    color: white;
    background-color: #bc1723;
    padding: 2rem 2rem;
}

#howtoplay-container{
    position: relative;
}

#video-display {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: -0.5rem;
    margin-left: -3rem;
    z-index: 5;
}

#video-container {
    background-color: #bc1723;
    position: absolute;
    width: 95%;
    height: 90%;
    left: 30px;
    top: 30px;
    padding: 15px;
    border: 1px solid black;
    z-index: 6;
}

iframe {
    width: 100%;
    height: 95%;
    padding-top: 1rem;
}

.popup {
    background-color: white;
    width: 650px;
    position: absolute;
    bottom: 0;
    padding: 15px;
    border: 1px solid black;
}

.popup a, #video-container a{
    color: black;
    width: 100%;
    font-size: 1.5rem;
    display: inline-block;
    text-align: right;
    cursor: pointer;
}

.popup h2 {
    text-align: center;
    background-color: #bc1723;
    color: white;
    padding:1rem;
}

.popup li{
    font-family: Skia Regular;
    list-style-type: none;
}

.hidden {
    display: none;
}