@font-face {
    font-family: "Skia";
    src: url("../fonts/skia.ttf") format('truetype');
}

@font-face {
    font-family: "Skia Regular";
    src: url("../fonts/Skia\ Regular.ttf") format('truetype');
}

* {
    margin-left: auto;
    margin-right: auto;
    font-family: "Skia";
}

body {
    background-color: black;
    background-image: url("/images/background_with_notes.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 3rem;
}

main {
    margin: 3rem 0rem;
    width: 45%;
    float: left;
}

main h1 {
    color: #bc1723;
    padding-top: 2rem;
    font-size: 24px;
}

header img{
    padding-top:2rem;
    width: 25%;
}

#mainImage {
    width: 50%;
}

p{
    font-family: Skia Regular;
}

a{
    text-decoration: none;
    color:#bc1723;
    font-family: Skia Regular;
}

#instruction-section {
    display: flex;
}

#video-controls {
    background-color: #bc1723;
    padding: 1rem;
}

#video-controls img {
    max-height: 50px;
    max-width: 50px;
    margin: 0rem 2rem;
}

#soundButton {
    padding-bottom: 0.25rem;
}

#instruction-button {
    font-family: "Skia";
    color: white;
    background-color: #bc1723;
    padding: 2rem 1rem;
}

#howtoplay-container{
    position: relative;
}

#video-display {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: -0.5rem;
    margin-left: -3rem;
    z-index: 5;
}

#video-container {
    background-color: #bc1723;
    position: absolute;
    width: 95%;
    height: 90%;
    left: 30px;
    top: 30px;
    padding: 15px;
    border: 1px solid black;
    z-index: 6;
}

.popup {
    background-color: white;
    width: 650px;
    position: absolute;
    bottom: 0;
    padding: 15px;
    border: 1px solid black;
}

.popup a, #video-container a{
    width: 100%;
    font-size: 1.5rem;
    display: inline-block;
    text-align: right;
    cursor: pointer;
}

.popup h2 {
    text-align: center;
    background-color: #bc1723;
    color: white;
    padding:1rem;
}

.popup li{
    font-family: Skia Regular;
}

.hidden {
    display: none;
}

li{
    list-style-type: none;
}